
* {
  font-family: 'Georgia', 'Times', serif; color: DarkSlateGray;
}


#container {
	width: 800px;
	margin: 40px auto 60px;
}

#body {
	background: "http://cdn.wallpapersafari.com/33/46/QCWw1E.jpg"
}

#pic {
	float: right;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#content-summarycontent {
	margin: 0 0 16px 0;
	padding: 0 0 32px 0;

	font-style: italic;
	font-size: 20px;
}
h3 {
	border-bottom: 1px solid #999;
}
