
* {
  font-family: 'Georgia', 'Times', serif; color: #67696b;
}

#container, #contents {
	width: 850px; margin: 5px auto; padding: 3px; border-width: 10px; float: center;
}

#content-summarycontent {
	margin: 0 0 8px 0;
	padding: 0 0 16px 0;

	font-style: italic;
	font-size: 20px;
}
h1 {
	font-family: 'Sofia'; font-size: 75px;
}
h2 {
	font-family: 'Sofia'; font-size: 50px;
}

h3 {
	border-bottom: 1px solid #67696b;
}
table, th, td {
	border: 1px solid #67696b; border-collapse: collapse; background-color: #eff0f2 
}
